/* your styles go here */
#entry_section{
    margin-top: -1.4rem !important;
    margin-left: 1rem !important;
    width: 100%;
    background: url('img/about.gif') center top repeat; 
    background-size: cover; 
}

#entry_section .container{
        height: 300px;
        width: 120%;
        margin: 0 .4rem;;
    }

    
/*BANNER*/
#banner{
    text-align: center !important;
    width: 95.5%;
    height: .1rem;
    padding: 10px;
    border: none !important;
    background-image: url("../img/bakbaner.png");
    background-position: -350px -200px;
    margin: 20px auto;
    z-index: 999;
    animation: backBanner 9s infinite;
}

#banner div{
    z-index: 999; color: white; 
    background-color: rgba(0,0,0, .4); 
    margin: 5% auto; 
    padding: .6rem;
}

#banner div h1{
  color: rgb(230, 234, 247);
}

#banner div p{
    color: rgb(191, 206, 255);
  }

@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -200px -200px;
    }
}
#banner h1{
    display: block;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.91);
    font-size: 95px;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
    margin: 0px auto !important;
    margin-top: 50px!important;
    animation: showTxt 8s linear;
}

@keyframes showText{
    0%{
        transform: translateX(-600%) scale(4, 4);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(4, 4);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(4, 4);
        opacity: 0;
        text-shadow: none;
        color:transparent;
    }
    100%{
        transform: translateX(0%) scale(1, 1);
        opacity: 1;
        text-shadow: 2px 2px 1px black;
        color:white;
        margin: 0px auto;
    }
}


.home-carousel {
    color: white;
}

.homepage .item div{
  padding: 10px;;
}


.homepage .item img {
    width: 300px !important;
    height: 230px;
    margin: 20px auto;
    border: 1px solid  rgb(150, 149, 149);
    border-radius: 5px;

    transition: all 400ms;
    margin: 0px auto !important;
    overflow: hidden;
   
}

.homepage .item img:hover{
    transform: scale(1.3, 1.3);
    border: 16px solid  rgba(70, 127, 191, 1);
}

.item h1{
    line-height: 120px;
    margin-bottom:  10px !important;
}

.owl-carousel{
    height: 59vh;
    background-color: rgba(0, 0, 0, .7) !important;
    text-align: center;
    padding: 20px;
  /*  animation-name: giratut; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    */
}
.owl-carousel:hover,  .dark-mask.mask-primary:hover {
    background: rgba(70, 127, 191, 0.1);
}

.col-md-5{
    height: 120% !important;
}
/*
@keyframes giratut {
    0%{
       background-color: rgba(70, 127, 191, 0.1);
    }
    25% {
        background-color: rgba(70, 127, 191, 0.3);
    }
    50% {
        background-color: rgba(70, 127, 191, 0.7);
    }

    75% {
        background-color: rgba(70, 127, 191, .5);
    }
    100%{
        background-color: rgba(70, 127, 191, .3);
    }
}
*/
/* Brand who work with us*/
.owl-carousel-brand{
    display: inline-flex !important;
    align-items: center !important;
    flex-direction: row !important;
    width: 100%;
}

.owl-carousel-brand .item{
    align-items: center !important;
    margin: auto !important;
}

.owl-carousel-brand .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin:20% !important;
   
}

.owl-carousel-brand .item img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.owl-carousel-brand img{
    margin: o auto;

}
.brand_class{
    margin: 0px auto;
    align-items: center;
    width: 90px; 
    height: 90px;
    border-radius: 50%; 
   
    border: 4px solid black; 
}


/* card animation */
.main-container{
    position: relative;
    width: 99%;
    height: 500px;
  
}

.thecard{
    position: absolute;
    margin: 1% !important;
    transform-style: preserve-3d;
    transition: all 2s ease;
    animation: giragira;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 9px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8); 
    box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8);
}

.thecard .intro{
    color: black !important;
}

.thefront{
    position: absolute;
  /*  backface-visibility: hidden; */
    text-align: center;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


.thecard:hover{
    transform: rotateY(360deg);
}


/*
@keyframes giragira {
    0%{
        transform: rotateY(0deg);;
    }
    20% {
        transform: rotateY(45deg);
    }
    40% {
        transform: rotateY(90deg);
    }

    60% {
        transform: rotateY(180deg);
        background-color: red !important;
    }
    80%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(45deg);
    }
}
*/

.image_edi img{
    display: block;
    margin: 25%;
    transition: all 2s ease;
    animation: girafoto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8); 
    box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8);
  }

  @keyframes girafoto {
    0%{
        transform: rotateX(0deg);;
    }
    17% {
        transform: rotateX(90deg);
    }
    34% {
        transform: rotateX(270deg);
    }

    51% {
        transform: rotateX(360deg);
    }
    68%{
        transform: rotateX(270deg);
    }
    85%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}

.resume.row form{
    display: flex;
    align-self: center;
}

.cert_iframe, #about .item .row img{
    height: 330px !important; 
    width: auto !important;
    padding-top: -20px !important;
    opacity: 1 !important;
    margin: 0 auto;
}

.about-carousel{
    display:inline-block;
    text-align: center;
   height: 400px !important;
   width: auto;
   padding: 20px !important;
   margin: 0px auto;
   text-align: center;
}

.box-image {
    height: 280px !important;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 5px 5px 15px -5px #ccc; 
    box-shadow: 5px 5px 15px -5px #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box-image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


/*  Carousel Animations  */
#gear_div{
    width: 150px;
    height: 150px;
    float: right;
    text-align: center !important;
}
#gear, #gear2, #gear3 {
    display: block;
    float: left;
    font-size: 150px;
    margin-top: 8px;
    margin-left: 26px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg)
    }
    to{
        transform: rotateZ(360deg)
    }
}

#gear2{
    font-size: 50px;
    margin-left: -10px;
    margin-right: 20px;
    margin-top: -20px !important;
}

#gear3{
    font-size: 90px;
    margin-top: 50px;
    margin-left: -20px;
}

#paint{
    margin: 0 auto !important;
    font-size: 130px;
}


#phone, #whatsapp{
    font-size: 80px;
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 15px !important;
}


@keyframes zoomIn{
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.3, 1.3);
    }
}

#mailIcon{
    font-size: 80px;
    animation-name: zoomOut;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes zoomOut{
    from{
        transform: scale(1.4, 1.4);
    }
    to{
        transform: scale(1, 1);
    }
}

.card .card-body p{
    color:black !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}



/***************************************************************
      Send message btn
***************************************************************/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.social_div_list{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  border: 1px solid #ccc;
  background: url("../img/paven.png") center center repeat;
}
.social_div_list ul {
   position: relative;
   display: flex;
   transform: rotate(0deg) skew(1deg);
   transform-style: preserve-3d;
}
.social_div_list ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 0px 30px;
}
.social_div_list ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background:  rgba(2, 60, 117, 0.938);
  transform-origin: top;
  transform: skewX(-41deg);
}
.social_div_list ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: rgba(10, 102, 194, 0.616);
  transform-origin: right;
  transform: skewY(-49deg);
}
.social_div_list ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #0a66c2d0 ;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
.social_div_list ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
.social_div_list ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
.social_div_list ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
.social_div_list ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
ul li:nth-child(1):hover span{
  background: black !important;
}

ul li:nth-child(2):hover span{
  background:  #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1) !important;
}
ul li:nth-child(3):hover span{
  background: #0A66C2 !important;
}


/* Policies */
.policies-container{
    padding: 3rem;
}

.policies-container h1{
    text-align: center;
}

.policies-container a{
    color: blue;
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 36px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: white;
    color: #467fbf;
    border: 1px solid #467fbf;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #467fbf;
    color: white;
}
/*Cookie Consent End*/



/* About Us Section
--------------------------------*/
#about {
    background: url("../img/about-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
  }
  
  #about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }
  
  #about .container {
    position: relative;
    z-index: 10;
  }
  
  #about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  
  #about .about-col .img {
    position: relative;
  }
  
  #about .about-col .img img {
    border-radius: 4px 4px 0 0;
  }
  
  #about .about-col .icon {
    width: 64px;
    height: 64px;
    text-align: center;
    position: absolute;
    background-color: rgb(70, 127, 191);
    border-radius: 50%;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #about .about-col i {
    font-size: 28px;
    line-height: 0;
    color: #fff;
    transition: 0.3s;
  }
  
  #about .about-col:hover .icon {
    background-color: #fff;
  }
  
  #about .about-col:hover i {
    color: rgb(70, 127, 191);
  }
  
  #about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
  }
  
  #about .about-col h2 a {
    color: #000;
  }
  
  #about .about-col h2 a:hover {
    color: rgb(70, 127, 191);
  }
  
  #about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }
  
  
/* Services Section
--------------------------------*/
#services {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
  }
  
  #services .box {
    margin-bottom: 30px;
  }
  
  #services .icon {
    float: left;
  }
  
  #services .icon i {
    color:  rgb(70, 127, 191);
    font-size: 36px;
    line-height: 0;
    transition: 0.5s;
  }
  
  #services .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color:  rgb(70, 127, 191);;
  }
  
  #services .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
  }
  