/* your styles go here */

.home-carousel {
    color: white;
}


.homepage .item img {
    width: 300px !important;
    height: 230px;
    border-radius: 20px;
    margin: 20px auto;
    border: 6px solid  rgba(70, 127, 191, 0.6);;
    opacity: .8;
    transition: all 300ms;
    margin: 0px auto !important;
   
}

.homepage .item img:hover{
    opacity: 1;
    border: 6px solid  rgba(70, 127, 191, 1);
}

.item h1{
    line-height: 120px;
    margin-bottom:  10px !important;
}

.owl-carousel{
    height: 55vh;
    background-color: rgba(0, 0, 0, .7) !important;
  /*  animation-name: giratut; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    */
}
.owl-carousel:hover,  .dark-mask.mask-primary:hover {
    background: rgba(70, 127, 191, 0.1);
}

@media (max-width: 767px) {
    .owl-carousel{
        height: 55vh;
    }
    .homepage .item img{
        width: 250px !important;
        height: 180px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .item h1{
        font-size: 19px;
        line-height: 20px;
        margin-bottom:  10px !important;
    }
    .item p{
        font-size: 13px;
        line-height: 14px;
        margin-bottom:  10px !important;
    }
}
/*
@keyframes giratut {
    0%{
       background-color: rgba(70, 127, 191, 0.1);
    }
    25% {
        background-color: rgba(70, 127, 191, 0.3);
    }
    50% {
        background-color: rgba(70, 127, 191, 0.7);
    }

    75% {
        background-color: rgba(70, 127, 191, .5);
    }
    100%{
        background-color: rgba(70, 127, 191, .3);
    }
}
*/
/* Brand who work with us*/
.owl-carousel-brand{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
}

.owl-carousel-brand .item{
    align-items: center !important;
}

.owl-carousel-brand .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 20px  80px  20px 0px !important;
   
}

.owl-carousel-brand .item img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.owl-carousel-brand img{
    margin: o auto;

}
.brand_class{
    margin: 0px auto;
    align-items: center;
    width: 90px; 
    height: 90px;
    border-radius: 50%; 
   
    border: 4px solid black; 
}


/* card animation */
.main-container{
    position: relative;
    width: 99%;
    height: 500px;
  
}

.thecard{
    position: absolute;
    transform-style: preserve-3d;
    transition: all 2s ease;
    animation: giragira;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-bottom: 10px;
    -webkit-box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8); 
    box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8);
}

.thefront{
    position: absolute;
  /*  backface-visibility: hidden; */
    text-align: center;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


.thecard:hover{
    transform: rotateY(360deg);
}


/*
@keyframes giragira {
    0%{
        transform: rotateY(0deg);;
    }
    20% {
        transform: rotateY(45deg);
    }
    40% {
        transform: rotateY(90deg);
    }

    60% {
        transform: rotateY(180deg);
        background-color: red !important;
    }
    80%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(45deg);
    }
}
*/

.image_edi img{
    display: block;
    margin: 25%;
    transition: all 2s ease;
    animation: girafoto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8); 
    box-shadow: 6px 4.5px 6px -1px rgba(53,54,56,0.8);
  }

  @keyframes girafoto {
    0%{
        transform: rotateX(0deg);;
    }
    17% {
        transform: rotateX(90deg);
    }
    34% {
        transform: rotateX(270deg);
    }

    51% {
        transform: rotateX(360deg);
    }
    68%{
        transform: rotateX(270deg);
    }
    85%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}

.resume.row form{
    display: flex;
    align-self: center;
}

@media(max-width: 482px){
 .navbar-brand img{
    width: 70% !important;
    float: right;
}

.navbar-toggler{
    margin-top: -15% !important;
}

.owl-carousel-brand img{
    width: 50%;
    height: 50%;
}
.owl-carousel-brand .item{
    margin-left: -15px;
}
.owl-carousel-brand .item:first-child{
    margin-left: 10px;
}
}