
/***************************************
              RESPONSIVE
***************************************/

/*****     1199px     *********/
@media (max-width: 1199px) {
  .text-lg-center {
    text-align: center !important;
  }
  .text-center-sm, .text-center-xs {
    text-align: center !important;
  }
}

/*****     1012px     *********/
@media (min-width: 1012px) {
  #paint, #gear, #gear2, #gear3, #whattsapp, #mailIcon{
      margin-top: 15% !important;
  }
  #phone, #mailIcon, #whatsapp{
      margin: 20px !important;
      margin-top: 24% !important;
  }
}


@media (max-width: 1012px) {
  .home-carousel .owl-carousel {
      padding-top: 30px;
      padding-bottom: 30px;
      height: 220px  !important;
    }
  .item h1{
      font-size: 22px;
      line-height: 20px;
      margin-bottom:  10px !important;
  }
  .item p{
      font-size: 17px;
      line-height: 14px;
      margin-bottom:  10px !important;
  }
  .gear_div{
      height: 220px !important;
      text-align: center !important;
      padding: 20px !important;
  }
  #gear, #gear2, #gear3, #paint{
      font-size: 80px !important;
  }
  #gear3, #gear{
      margin-top: -15% !important;
  }
  #phone, #mailIcon, #whatsapp{
      font-size: 60px !important;
      margin: 10px !important;
  }
  #paint, #gear2,  #whattsapp, #mailIcon{
      margin-top: 5% !important;
  }
  #whattsapp{
      margin-top: 20px;
  }
}

/******     991px     *********/
@media (max-width: 991px) {
  .text-center-md {
    text-align: center !important;
  }
  .image_edi img{
    display: none;
  }
  #navbar {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    position: block;
    width: 100%;
  }
  #navbar .menu-large .megamenu {
    width: 100%;
    left: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
  #navbar .navbar-collapse {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 1rem;
  }
  #navbar .navbar-nav > li > a {
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    border-top: 0;
    font-size: 0.85rem;
    width: 100%;
  }
  #navbar .navbar-nav > li > a:hover {
    background: rgba(70, 127, 191, 0.5);
    border-color: rgba(70, 127, 191, 0.8);
  }
  #navbar .dropdown-menu {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  footer.main-footer .photo-stream a {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-device-width: 767px) and (max-device-width: 991px) {
  .text-md-center {
    text-align: center !important;
  }

  .home-blog-post{
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    height: 55vh !important;
  
  
    margin-bottom: 20px !important;
  }
  
  .home-blog-post img{
    margin-top: 90px !important;
    width: 90%;
    height: 200px
  }
  .home-blog-post .intro{
    font-size: 14px !important;
    
  }
  
}

/********    767px     *********/
@media (max-width: 767px) {
  .home-carousel .owl-carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 280px  !important;
  }
  .home-carousel {
    text-align: center !important;
  }
  .home-carousel p, .home-carousel h1, .home-carousel ul {
    text-align: center !important;
  }
  .home-carousel img {
    margin: 10px auto;
  }
  .text-center-sm {
    text-align: center !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
  #banner h1{
      font-size: 45px;
  }
  .home-carousel .owl-carousel {
      height: 230px  !important;
    }
  .homepage .item img{
      width: 250px !important;
      height: 180px;
      margin-left: 30px;
      margin-right: 30px;
  }
  .item h1{
      font-size: 19px;
      line-height: 20px;
      margin-bottom:  10px !important;
  }
  .item p{
      font-size: 13px;
      line-height: 14px;
      margin-bottom:  10px !important;
  }
  #cards_div .card {
    margin-left: 8% !important;

  }
  #gear, #gear2, #gear3, #paint, #phone, #mailIcon, #whatsapp{
      font-size: 60px !important;
      margin: 10% !important;
      margin-top: -5% !important;
  }
  #paint{
      font-size: 90px !important;
      margin-left: 28% !important;
      margin-right: 28% !important;
  }
  #phone, #mailIcon, #whatsapp{
      margin: 45px !important;
      margin-top: -20px !important;
  }
  .box-footer {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .box-footer a {
    margin-bottom: 10px !important;
  }

  .image_edi img{
    display: block;
    margin: 2% auto;
    margin-bottom: -20% !important;
  }

  .nav-pills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer.main-footer .photo-stream li {
    width: 32%;
    margin-bottom: 10px;
  }
  footer.main-footer .photo-stream a {
    width: 100%;
    height: auto;
  }

}

@media screen and (min-device-width: 415px) and (max-device-width: 768px) {  
  .home-carousel{
    text-align: center;
  }

  .home-carouset h1, .home-carousel p{
    text-align: center;
    margin: 0 auto !important;
  }
  .home-carousel img {
    display: none !important;
  }
}

/********    576px     *********/
@media(max-width: 576px){
  #banner h1{
      padding-top: 5px;
      font-size: 38px;
      margin-top: -10px !important;
  }
  .card-deck {
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    margin-right: 15px;
    margin-left: 15px;
  }

  .home-blog-post{
    margin: 10px 0;
    height: 59vh !important;
    padding-bottom: 10px !important;
    width: 98%;
  }
  
  .home-blog-post .intro{
    font-size: 13px !important;
  }

  #entry_section{
    max-height: 250px;
  }
}

/********     536px     *********/
@media(max-width: 536px){
  .thecard{
      width: 90%;
      margin-left: 4.5%;
      margin-right: 4.5%;
  }

  #gear, #gear2, #gear3{
      font-size: 60px !important;
      margin: 9% !important;
      margin-top: -5% !important;
  }
  #gear, #gear2, #gear3, #paint, #phone, #mailIcon, #whatsapp{
      font-size: 50px !important;
      margin: 10% !important;
      margin-top: -5% !important;
  }
  #paint{
      font-size: 70px !important;
      margin-left: 28% !important;
      margin-right: 28% !important;
  }
  #phone, #mailIcon, #whatsapp{
      margin: 45px !important;
      margin-top: -20px !important;
  }
}

/********     487px     *********/
@media(max-width: 487px){
.home-carousel .owl-carousel {
      padding-bottom: 25px !important;
      height: 255px  !important;
}

.navbar-brand img{
  width: 70% !important;
  float: left;
}

.navbar-toggler{
  margin-top: -16% !important;
 margin-left: 85%;
}

.owl-carousel-brand img{
  width: 60px !important;
  height: 60px !important;
  margin: 10px !important;
}
.owl-carousel-brand .item{
  margin-left: -15px;
}
.owl-carousel-brand .item:first-child{
  margin-left: 10px;
}


.about-carousel{
  display: none;
}

#whatsapp{
  float: right;
  margin-top: 0px !important;
  margin-right: -10px !important;
}


.main-footer .row p{
  font-size: 12px !important;
  letter-spacing: 1px;
}

#skill_section{
  margin-top: -90% !important;
}

#gear, #gear2, #gear3{
  font-size: 50px !important;
  margin: 19% !important;
  margin-top: -5% !important;
}
#gear, #gear2, #gear3, #paint, #phone, #mailIcon, #whatsapp{
  font-size: 50px !important;
  margin: 10% !important;
  margin-top: -5% !important;
}

#gear3{
  margin-top: -30% !important;
  margin-left: 80% !important;
}
#paint{
  font-size: 65px !important;
  margin-left: 28% !important;
  margin-right: 28% !important;
}
#phone, #mailIcon, #whatsapp{
  margin: 25px !important;
  margin-top: -10px !important;
}
/*
#gear, #gear2, #gear3, #paint, #phone, #mailIcon, #whatsapp{
 display: none !important;
}*/
}

/********     390px     *********/
@media(max-width: 390px){
  #gear3{
      margin-top: -32% !important;
      margin-left: 85% !important;
  }

  #phone, #mailIcon, #whatsapp{
      margin: 20px !important;
      margin-top: -10px !important;
  }
}
